
<%- include("partials/header"); -%>
    <h1>Home</h1>

   	 
    <ul style="display: flex;">
    	<% for (var i = 0; i < listOfTimes.length; i++) { %>
		<li style="list-style: none;margin-right: 30px;"><b><%= listOfTimes[i] %>:</b> <%= todayPrayerTimes[listOfTimes[i]] %></li>
		<% } %>
	</ul>


  	<% items.forEach(function(news){ %>
    <div>
        <img src="data:image/<%=news.img.contentType%>;base64,<%=news.img.data.toString('base64')%>" width="200">
        <h1><%=news.title%></h1>
        <p>
        <%=news.content.substring(0, 100) + " ..."%>
        <a href="/news/<%=news._id%>">Read More</a>
        </p>
    </div>

    <% }) %>


<%- include("partials/footer"); -%>
