<%- include("partials/header"); -%>
    <img src="data:image/<%=news.img.contentType%>;base64,<%=news.img.data.toString('base64')%>" width="200">
    <h1><%=news.title%></h1>
    <p><%=news.content%></p>

<%- include("partials/footer"); -%>
